{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
          <a href="/">
            <span class="icon is-small">
              <i class="fas fa-home" aria-hidden="true"></i>
            </span>
            <span>Inicio</span>
          </a>
        </li>
        <li><a href="/recibir">Info</a></li>
        <li class="is-active"><a href="#" aria-current="page">Recibir ayuda</a></li>
    </ul>
</nav>
{% endblock bread %} 
{% block content%}
<div class="columns is-centered"> 
    <div class="column is-half">
      <button href="#" id="find-me" class="button is-success  is-outlined is-fullwidth" style="margin-bottom: 10px;">
        <span class="icon is-small">
          <i class="fas fa-location-arrow"></i>
        </span>
        <span>Buscar mi ubicación</span>
      </button>
      <p id="status"></p>
      <form id="form-solicitar" enctype="multipart/form-data" method="post" action="/solicitar" data-provicias="{% url 'ajax_load_provincias' %}">
        {% csrf_token %}
        {% include 'help_request/post.html' with form=form %}
        <div class="control">
          <button id="submit" class="button is-success is-fullwidth">Enviar</button>
        </div>
      </form>


<div class="modal" id="myModal">
  <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Ayuda con el mapa</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <li class="is-size-7"> Mueve el mapa hasta donde veas tu ubicación y luego apretá en el icono <i class="fas fa-map-marker-alt"></i> y luego marcá en el mapa el punto exacto</li>
            <li class="is-size-7"> Si te equivocaste puedes apretar en el icono <i class="fas fa-edit"></i> así puedes mover el marcador, una vez corregido apretar 'Grabar' </li>
                <p class="image"><img src="{% static "img/ayudamapa.gif" %}" alt=""></p>
        </section>
        <footer class="modal-card-foot">
             <button class="button is-success close">Ok</button>
        </footer>
    </div>
</div>

<script>

  function getDireccion(longitude, latitude) {
    return new Promise(function(resolve, reject){
      fetch(`https://geo.cabu.dev/v1/geoinversa/${latitude}/${longitude}`)
        .then((response) => response.json())
        .then((data) => {
          const direccion = data.data;
          if(direccion.atadireccion == undefined){
            console.log('undifened date location...')
          }
          //console.log('Return data url ' + direccion)
          document.getElementById('div_direccion').innerHTML = `
          <span><b>Calles</b>:${direccion.atadireccion || ''}</span><br /> 
          <span><b>Barrio</b>:${direccion.localidad || '' }</span><br /> 
          <span><b>Ciudad</b>:${direccion.distrito || ''} <span> <span><b>Provincia</b>:${direccion.departamento || ''}</span>`;
          document.getElementById('id_address').value = `${direccion.direccion || ''} ${direccion.localidad || '' } ${direccion.distrito || ''} ${direccion.departamento || ''}`;
          resolve(true)
        })
        .catch((error) => {
          resolve(true)
        })
    })
  }

  function geoFindMe() {

    const status = document.querySelector('#status');
    const boton = document.querySelector('#find-me');

    var searchLayer = L.layerGroup().addTo(maps[0]);
    //... adding data in searchLayer ...
    maps[0].addControl( new L.Control.Search({layer: searchLayer}) );

    function makePoint(longitude, latitude) {
      return JSON.stringify({
        type: 'Point',
        coordinates: [longitude, latitude]
      });
    }

    async function addMarker(longitude, latitude) {
      document.getElementById('id_location').innerHTML = makePoint(longitude, latitude);
      
/*
      var map = maps[0];

    // create the geocoding control and add it to the map
    var searchControl = L.esri.Geocoding.geosearch().addTo(map);

    // create an empty layer group to store the results and add it to the map
    var results = L.layerGroup().addTo(map);

    // listen for the results event and add every result to the map
    searchControl.on("results", function(data) {
        results.clearLayers(); 
        for (var i = data.results.length - 1; i >= 0; i--) {
          console.log('>>>>>>>>>>>>> ' + data.results[i]);  
            results.addLayer(L.marker(data.results[i].latlng));
        }
    });
    */
      await getDireccion(longitude, latitude);

      const you = L.marker([latitude, longitude], {draggable: true, opacity: 0.9, title:'Tu ubicación'}).addTo(maps[0]);

      you.bindPopup('<b>Mueve este punto a tu ubicación !</b>').openPopup();
      
      maps[0].setView([latitude, longitude], 10);

      you.on('dragend', async function (e) {
        await getDireccion(e.target._latlng.lng, e.target._latlng.lat);
        document.getElementById('id_location').innerHTML = makePoint(e.target._latlng.lng, e.target._latlng.lat);
      });
    }

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;

      boton.textContent = 'Te encontré, seguí completando !';
      boton.disabled = true;
      status.textContent = '';

      addMarker(longitude, latitude);
    }

    function error() {
      
      // Punto 0 = Panteon de los heroes
      const latitude  = -2.189;
      const longitude = -79.875;

      boton.textContent = 'No te encontré, seguí completando !';
      boton.disabled = true;
      status.textContent = 'No puedo encontrarte, mueve el punto mas abajo.';

      addMarker(longitude, latitude);
      
    }

    if (!navigator.geolocation) {
      status.textContent = 'Tu navegador no soporta la geolocalización';
    } else {
      status.textContent = 'Buscando tu ubicación…';
      navigator.geolocation.getCurrentPosition(success, error);
    }

  }

  function checkRequestForm() {
    fields = [
      "id_title",
      "id_message",
      "id_name",
      "id_phone",
      "provincia",
      "id_location",
      "id_address",
    ];
    var valid = true;
    for (field in fields) {
      if (!document.getElementById(fields[field]).checkValidity()) {
        valid = false;
      }
    }

    if (valid) {
      document.querySelector("#submit").textContent = "Enviando...";
      document.querySelector("#submit").disabled = "disabled";
      return true;
    }
  }

  document.querySelectorAll(".modal-button").forEach(function (el) {
    el.addEventListener("click", function () {
      var target = document.querySelector(el.getAttribute("data-target"));
      //map.invalidateSize();
      target.classList.add("is-active");

      target.querySelector(".close").addEventListener("click", function () {
        target.classList.remove("is-active");
      });
      target
        .querySelector(".delete")
        .addEventListener("click", function () {
          target.classList.remove("is-active");
        });
      target
        .querySelector(".modal-background")
        .addEventListener("click", function () {
          target.classList.remove("is-active");
        });
    });
  });

  function success(latitude, longitude) {
    boton.textContent = 'Te ubicamos en capital, Busca tu ubicacion!';
    boton.disabled = true;
    status.textContent = '';

    addMarker(longitude, latitude);
  }

  function centerCapital(){
    id = document.querySelector("#provicia_id").value;

    return new Promise(function(resolve, reject){
      fetch(`/ajax/get-provincia/${id}`)
        .then((response) => response.json())
        .then((data) => {
          const latitude = data[0].fields.lat;
          const longitude = data[0].fields.lngt;
          console.log(latitude + ' <>' + longitude)
          if(latitude != 0){
            success(latitude, longitude);
          }
          
          resolve(true)
        })
        .catch((error) => {
          console.log('Sin datos de ciudad...' + error);
          resolve(true);
        })
    })       
    var map = maps[0];

    // not L.esri.Geocoding.geocodeService()
    /*
var ccpaRoadsProvider = L.esri.Geocoding.geocodeServiceProvider({
  url: '//gis.ccpa.net/arcgiswebadaptor/rest/services/Roads_Locator/GeocodeServer'
});

var geosearchControl = L.esri.Geocoding.geosearch({
  providers: [ccpaRoadsProvider]
}).addTo(map);

    var geocoder = L.esri.Geocoding.geocodeService(); 
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap...</a> contributors'
    }).addTo(map);
    geocoder.geocode().text('New York City').run(function (error, response) {
      if (error) {
        return;
      }
      console.log('response.results[0],  ' + response.results[0]);
      console.log('response.results[0] ' + response.results[0].bounds);
      map.fitBounds(response.results[0].bounds);
    });
    */
  }

  document.querySelector('#find-me').addEventListener('click', geoFindMe);
  document.querySelector("#provicia_id").addEventListener('change', centerCapital)
</script>
{% endblock %}